<div id="message" class="container">
    <div class="alert alert-<%= errMessage.type %> alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= errMessage.msg %>
    </div>
</div>